* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;

  .modal-settings,
  .modal-settings-content {
    background: #1e1e1e;
    color: #ffffff;
  }

  .modal-settings-sidebar {
    background: #1e1e1e;
    color: #ffffff;

    li:hover {
      background-color: #333333;
    }

    li.active {
      background-color: #444444;
      color: #ffffff;
    }
  }

  .theme-toggle-btn {
    background-color: #444444;
    color: #ffffff;

    &:hover {
      background-color: #555555;
    }
  }

  .navbar,
  .en-tete {
    background-color: #121212;
    color: #ffffff;
  }

  #year,
  #month {
    color: #ffffff;
  }

  button {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #000;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  .edit-btn,
  .delete-btn {
    background-color: var(--selected-color); // Conserve la couleur sélectionnée
    color: white; // Assure que le texte reste blanc
    border: none; // Supprime la bordure noire
  }
}

button {
  background-color: #ffffff;
  border: 2px solid #333;
  color: #333;
  padding: 1px 5px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: none !important;
}

.edit-btn,
.delete-btn {
  background-color: var(--selected-color); // Conserve la couleur sélectionnée
  color: white; // Assure que le texte reste blanc
  border: none; // Supprime la bordure noire
  padding: 8px 12px; // Spécifique pour ces boutons
  font-size: 14px; // Spécifique pour ces boutons
  margin: 0; // Supprime les marges globales
}