* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Dark mode
body.dark-theme {
  background-color: #121212; // Fond noir pour le mode sombre
  color: #ffffff; // Texte en blanc

  .modal-settings {
    background: rgba(18, 18, 18, 0.9);
    color: #ffffff;
  }

  .modal-settings-sidebar {
    background: #1e1e1e;
    color: #ffffff;

    li:hover {
      background-color: #333333;
    }

    li.active {
      background-color: #444444;
      color: #ffffff; // Texte en blanc pour l'élément actif
    }
  }

  .theme-toggle-btn {
    background-color: #444444;
    color: #ffffff;

    &:hover {
      background-color: #555555;
    }
  }

  .modal-settings-content {
    background: #1e1e1e;
    color: #ffffff;
  }

  .navbar {
    background-color: #000; // Fond noir pour la navbar
    color: #ffffff; // Texte en blanc
  }

  .en-tete {
    background-color: #121212; // Fond noir pour l'en-tête
    color: #ffffff; // Texte en blanc
  }

  #year,
  #month {
    color: #ffffff; // Texte en blanc pour les années et mois
  }

  button {
    background-color: #ffffff; // Fond blanc pour les boutons
    color: #000; // Texte en noir
    border: 2px solid #000; // Bordure noire

    &:hover {
      background-color: #e0e0e0; // Fond gris clair au survol
    }
  }
}