.login-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding-top: 20vh;
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }
}

.form-title {
  font-size: 2.5em;
  margin-bottom: 20px;

  button:hover {
    transform: none;
    box-shadow: none;
  }
}

.form-group {
  margin-bottom: 15px;
  text-align: left;

  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #66afe9;
      box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
    }
  }
}

.toggle-text {
  margin-top: 20px;
  color: #555;
}

.toggle-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-left: 5px;

  &:hover {
    transform: none;
    box-shadow: none;
  }
}

.form-container button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.animated-gradient-background {
  width: 100%;
  min-height: 100vh;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #ff6b6b, #f0e460, #6bd9a5, #84acf8, #79ecfe);
  animation: gradientShift 15s ease infinite;

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

.back-button-container {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

.back-btn {
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
  border-radius: 10px;

  .arrow-icon {
    font-size: 20px;
    padding-right: 5px;
  }
}