.switchable-amount {
    position: relative;
    cursor: pointer;
  }
  
  .amount-left:hover::before,
  .amount-right:hover::after {
    content: "⇄";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
  }
  
  .amount-left:hover::before {
    right: -20px;
  }
  
  .amount-right:hover::after {
    left: -20px;
  }
  
  #recurrent-form-container,
  #paiement-xfois-form-container,
  #recurrent-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #recurrent-form-container .modal-content,
  #paiement-xfois-form-container .modal-content,
  #recurrent-form-container .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 600px;
    width: 100%;
  }
  
  #recurrent-form-container .close-btn,
  #form-container #close-modal-btn,
  #sync-modal-content .sync-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent!important;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
  }
  
  #recurrent-items-container {
    margin-top: 20px;
  }
  
  .recurrent-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .recurrent-item:last-child {
    border-bottom: none;
  }
  
  .recurrent-item .label {
    flex-grow: 1;
  }
  
  .recurrent-item .amount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .recurrent-item .delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  @media (min-width: 650px) {
    .table-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    table {
      width: calc(50% - 20px);
      min-width: 300px;
    }
  
    #calcul-table {
      width: auto;
      min-width: 300px;
      max-width: calc(50% - 20px);
    }
  }
  
  @media (min-width: 1200px) {
    .table-container {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  
    table {
      width: 32%;
      min-width: 300px;
      margin-top: 0;
      margin-bottom: 0;
    }
  
    #calcul-table {
      width: auto;
      min-width: 300px;
      max-width: 400px;
      margin-right: 20px;
    }
  
    #calcul-table td:nth-child(2) {
      max-width: 150px;
      word-wrap: break-word;
    }
  }